@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Gabriel Sans Cond';
  src: url('../fonts/TTF/GabrielSansCond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Awakening';
  src: url('../fonts/TTF/AWAKENNING.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: #D8D8D8;
}

.title {
  font-family: 'Awakening', sans-serif;
  font-size: 64px;
  color: #930D0D;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.movie-frame-container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.start-button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.start-button:hover {
  background-color: #930D0D;
}